<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sangmaneproject.kindis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationMain"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="sangmaneproject.kindis.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.activity.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.Walkthrough"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:noHistory="true"/>
        <activity
            android:name=".view.activity.ForgotPassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.Bismillah"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.Main"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.Player"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.Search"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.Detail"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activity.DetailArtist"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>